@charset "UTF-8";



/* .btn-like { */
/*   width: 50px; */
/*   height: 50px; */
/*   background-repeat: no-repeat; */
/*   background-position: center; */
/*   background-size: contain; */
/*   cursor: pointer; */
/* } */

/* .btn-like.liked { */
/*   background-image: url(like-icon-blue.png); */
/* } */

/* .btn-like:not(.liked) { */
/*   background-image: url(like-icon-gray.png); */
/* } */


.btn-like {
  background-color: #ddd;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
}

.btn-like.liked {
  background-color: #3f51b5;
  color: white;
}