<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mpc.board.dao.IBoardMenuRepository">

	<select id="selectAllMenu" resultType="com.mpc.board.model.MenuModel">
		<![CDATA[
			SELECT
				menuId,
				menuName,
				menuDescript
			FROM menu
		]]>
	</select>

	<select id="selectMaxMenuId" parameterType="int" resultType="int">
		<![CDATA[
			SELECT
				NVL(MAX(menuId), 0) AS "menuId"
			FROM menu
		]]>
	</select>
	
	<insert id="insertNewMenu" parameterType="com.mpc.board.model.MenuModel">
		<![CDATA[
			INSERT INTO menu
				(menuId, menuName, menuDescript)
			VALUES
				(#{menuId}, #{menuName}, #{menuDescript})
		]]>
	</insert>

	<update id="updateMenu" parameterType="com.mpc.board.model.MenuModel">
		<![CDATA[
			UPDATE menu
			SET
				menuName = #{menuName},
				menuDescript = #{menuDescript}
			VALUES
				(#{menuId}, #{menuName}, #{menuDescript})
			WHERE
				menuId = #{menuId}
		]]>
	</update>
	
	<delete id="deleteMenu" parameterType="int">
		<![CDATA[
			DELETE menu
			WHERE menuId = #{menuId}
		]]>
	</delete>


</mapper>