<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mpc.board.dao.IBoardRepository">

	<select id="selectBoardListByMenu" parameterType="map" resultType="com.mpc.board.model.BoardModel">
		<choose>
			<when test="menuId == 1 or userNo == 1">
				<![CDATA[
				 SELECT
		            boardId,
		            menuId,
		            userId,
		            boardTitle,
		            boardDate,
		            masterId,
		            replyNum,
		            readCount
		         FROM (
		            SELECT
		               boardId, menuId, userId, boardTitle, boardDate,
		               masterId, replyNum, readCount, 
		               rownum AS rnum
		            FROM (
		               SELECT * FROM board
		               WHERE menuId = #{menuId}
		               ORDER BY masterId DESC, replyNum
		            )
		         )
		         WHERE rnum BETWEEN #{start} AND #{end}
				]]>
			</when>
			<when test="menuId == 2 and userNo != 1">
				<![CDATA[
		         SELECT
		               	boardId,
						menuId,
						board.userId,
						masterId,
						boardTitle,
						boardContent,
						boardDate,
						replyNum,
						readCount, rownum 
	               FROM board INNER JOIN mpc_user ON board.userId = mpc_user.userId
	               WHERE masterId IN (SELECT masterId FROM board INNER JOIN mpc_user ON board.userId = mpc_user.userId WHERE userNo = #{userNo}) AND rownum  between #{start}  and #{end}
	               ORDER BY masterId DESC, replyNum
		      	]]>
			</when>
		</choose>
	</select>

	<select id="selectBoard" parameterType="int" resultType="com.mpc.board.model.BoardModel">
				<![CDATA[
					SELECT
						board.boardId,
						menuId,
						userId,
						boardTitle,
						boardContent,
						readCount,
						boardDate,
						masterId,
						replyNum,
						boardfile.fileId AS "fileId",
						boardfile.fileName AS "fileName",
						boardfile.fileSize AS "fileSize",
						boardfile.fileType AS "fileType"
					FROM board
					LEFT OUTER JOIN boardfile
						ON board.boardId = boardfile.boardId
					WHERE board.boardId = #{boardId}
				]]>
	</select>
	
	<update id="updateReadCount" parameterType="int">
		<![CDATA[
			UPDATE board
				SET readCount = readCount+1
			WHERE boardId = #{boardId}
		]]>
	</update>
	
	<select id="selectMaxBoardNo" parameterType="int" resultType="int">
		<![CDATA[
			SELECT
				NVL(MAX(boardId), 0) AS "boardNo"
			FROM board
		]]>
	</select>
	
	<select id="selectMaxFileId" parameterType="int" resultType="int">
		<![CDATA[
			SELECT
				NVL(MAX(boardId), 0) AS "fileId"
			FROM boardfile
		]]>
	</select>
	
	<insert id="insertBoard" parameterType="com.mpc.board.model.BoardModel">
		<![CDATA[
			INSERT INTO board
				(boardId, menuId, userId, boardTitle, boardContent, boardDate, masterId, replyNum)
			VALUES
				(#{boardId}, #{menuId}, #{userId}, #{boardTitle}, #{boardContent}, SYSDATE, #{boardId}, 0)
		]]>
	</insert>
	
	<insert id="insertFileData" parameterType="com.mpc.board.model.BoardUploadFileModel">
		<![CDATA[
			INSERT INTO boardfile
				(fileId, boardId, fileName, fileSize, fileType, fileData)
			VALUES
				(#{fileId}, #{boardId}, #{fileName}, #{fileSize}, #{fileType}, #{fileData})
		]]>
	</insert>
	
	<select id="getFile" parameterType="int" resultType="com.mpc.board.model.BoardUploadFileModel">
		<![CDATA[
			SELECT
				fileId,
				boardId,
				fileName,
				fileSize,
				fileType,
				fileData
			FROM boardfile
			WHERE fileId = #{fileId}
		]]>
	</select>

	<insert id="updateReplyNum" parameterType="map">
		<![CDATA[
			UPDATE board
			SET replyNum = replyNum + 1
			WHERE masterId = #{masterId} AND replyNum > #{replyNum}
		]]>
	</insert>
	
	<insert id="replyBoard" parameterType="com.mpc.board.model.BoardModel">
		<![CDATA[
			INSERT INTO
			board
				(boardId, menuId, userId, boardTitle, boardContent, boardDate, masterId, replyNum)
			VALUES
				(#{boardId}, #{menuId}, #{userId}, #{boardTitle}, #{boardContent}, SYSDATE, #{masterId}, #{replyNum})
		]]>
	</insert>
	
	<select id="getPassword" parameterType="int" resultType="string">
		<![CDATA[
			SELECT user_password
			FROM board
			WHERE boardId = #{boardId}
		]]>
	</select>
	
	<update id="updateBoard" parameterType="com.mpc.board.model.BoardModel">
		<![CDATA[
			UPDATE board
			SET
				menuId = #{menuId}, userId = #{userId},
				boardTitle = #{boardTitle}, boardContent = #{boardContent},
				boardDate = SYSDATE
			WHERE boardId = #{boardId}
		]]>
	</update>
	
	<update id="updateFileData" parameterType="com.mpc.board.model.BoardUploadFileModel">
		<![CDATA[
			UPDATE boardfile
			SET
				fileName = #{fileName}, fileSize = #{fileSize},
				fileType = #{fileType}, fileData = #{fileData}
			WHERE fileId = #{fileId}
		]]>
	</update>
	
	<select id="selectDeleteBoard" parameterType="int" resultType="com.mpc.board.model.BoardModel">
		<![CDATA[
			SELECT
				menuId,
				masterId,
				replyNum
			FROM board
			WHERE boardId = #{boardId}
		]]>
	</select>
	
	<delete id="deleteFileData" parameterType="int">
		<![CDATA[
			DELETE FROM boardfile
			WHERE EXISTS ( SELECT boardId FROM board
							WHERE board.masterId = #{boardId}
								AND board.boardId = boardfile.boardId )
		]]>
	</delete>
	
	<delete id="deleteReplyFileData" parameterType="int">
		<![CDATA[
			DELETE FROM boardfile
			WHERE EXISTS ( SELECT boardId FROM board
							WHERE board.boardId = #{boardId}
								AND board.boardId = boardfile.boardId )
		]]>
	</delete>
	
	<delete id="deleteBoardByBoardId" parameterType="int">
		<![CDATA[
			DELETE FROM board
			WHERE boardId = #{boardId}
		]]>
	</delete>
	
	<delete id="deleteBoardByMasterId" parameterType="int">
		<![CDATA[
			DELETE FROM board
			WHERE masterId = #{boardId}
		]]>
	</delete>
	
	<select id="selectTotalBoardCount" resultType="int">
		<![CDATA[
			SELECT COUNT(boardId) AS "count"
			FROM board
		]]>
	</select>
	
	<select id="selectTotalBoardCountByMenuId" parameterType="int" resultType="int">
		<![CDATA[
			SELECT COUNT(boardId) AS "count"
			FROM board
			WHERE menuId = #{menuId}
		]]>
	</select>
	
	<select id="selectTotalBoardCountByKeyword" parameterType="String" resultType="int">
		<![CDATA[
			SELECT COUNT(*)
			FROM board
			WHERE boardTitle LIKE #{keyword} OR boardContent LIKE #{keyword}
		]]>
	</select>
	
	<select id="searchListByContentKeyword" parameterType="hashmap" resultType="com.mpc.board.model.BoardModel">
		<choose>
			<when test="menuId eq 1">
				<![CDATA[
					SELECT
						boardId,
						boardTitle,
						userId,
						boardDate,
						readCount
					FROM(
						SELECT
							rownum AS rnum,
							boardId,
							boardTitle,
							userId,
							boardDate,
							readCount
						FROM (
							SELECT * FROM notice2
							WHERE boardTitle LIKE #{keyword} OR boardContent LIKE #{keyword}
							 )
					)
					WHERE rnum BETWEEN #{start} AND #{end}
				]]>
			</when>
			<when test="menuId eq 2">
			<![CDATA[
				SELECT
					boardId,
					menuId,
					userId,
					boardTitle,
					boardDate,
					masterId,
					replyNum,
					readCount
				FROM (
					SELECT
						boardId, menuId, userId, boardTitle, boardDate,
						masterId, replyNum, readCount, rownum AS rnum
					FROM (
						SELECT * FROM board
						WHERE (boardTitle LIKE #{keyword} OR boardContent LIKE #{keyword}) AND menuId = #{menuId}
						ORDER BY masterId DESC, replyNum
						)
					)
				WHERE rnum BETWEEN #{start} AND #{end}
			]]>
			</when>
		</choose>
	</select>
	
</mapper>