<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.mpc.consult.dao.IConsultRepository">
	
	
	
	<select id="selectConsultListByMenu" parameterType="map"
	resultType="com.mpc.consult.model.ConsultModel">
		SELECT * FROM CONSULT WHERE menuId=#{menuId}
		ORDER BY consultRegDate
	</select>
	
	<select id="selectConsultList" parameterType="int"
	resultType="com.mpc.consult.model.ConsultModel">
		SELECT * FROM CONSULT 
		WHERE consultingId=#{consultingId}
	</select>
	
	
	<select id="consultList" parameterType="map"
	resultType="com.mpc.consult.model.ConsultModel">
		SELECT * FROM CONSULT 
		ORDER BY consultRegDate
	</select>
	
	<select id="myConsultList" parameterType="int" resultType="com.mpc.consult.model.ConsultModel">
		SELECT * FROM CONSULT
		WHERE userNo=#{userNo}
		ORDER BY consultRegDate
	</select>
	
	<select id="selectConsult" parameterType="int" resultType="com.mpc.consult.model.ConsultModel">
		SELECT 
			c.consultingId,
			c.userNo,
			c.petNo,
			c.menuId,
			c.consultRegDate,
			c.consultTitle,
			c.consultContent,
			c.consultClass,
			c.consultReport,
			cf.consultfileId AS "fileId",
			cf.fileName AS "fileName",
			cf.fileSize AS "fileSize",
			cf.fileType AS "fileType"
		FROM CONSULT c
		LEFT OUTER JOIN consultFile cf
			ON c.consultingId = cf.consultingId
		WHERE c.consultingId = #{consultingId}
	</select>
	
	<select id="selectCommentList" parameterType="map"
	resultType="com.mpc.consult.model.ConsultAnswerModel">
		SELECT * FROM commentData
		WHERE consultingId=#{consultingId}
		ORDER BY commentDate
	</select>
	
	<select id="selectConsultMaxFileId" parameterType="int" resultType="int">
		<![CDATA[
			SELECT
				NVL(MAX(consultingId), 0) AS "fileId"
			FROM consultfile
		]]>
	</select>
	
	<insert id="insertConsult"
	parameterType="com.mpc.consult.model.ConsultModel">
	INSERT INTO CONSULT
		(consultingId, userNo, petNo, menuId, consultRegDate, consultTitle, consultContent, consultClass, consultReport)
		VALUES
			(#{consultingId}, #{userNo}, #{petNo}, 10, sysdate, #{consultTitle}, #{consultContent}, #{consultClass}, 0)
	</insert>
	
	<select id="selectMaxConsultNo" parameterType="int" resultType="int">
      <![CDATA[
         SELECT
            NVL(MAX(consultingId), 0)
         FROM CONSULT
      ]]>
   </select>
	
	<insert id="insertConsultData" parameterType="com.mpc.consult.model.ConsultUploadFileModel">
		<![CDATA[
			INSERT INTO consultfile
				(consultFileId, consultingId, fileName, fileSize, fileType, fileData)
			VALUES
				(#{consultingId}, #{consultingId}, #{fileName}, #{fileSize}, #{fileType}, #{fileData})
		]]>
	</insert>
	
	<select id="getConsultFile" parameterType="int" resultType="com.mpc.consult.model.ConsultUploadFileModel">
		<![CDATA[
			SELECT
				consultFileId,
				consultingId,
				fileName,
				fileSize,
				fileType,
				fileData
			FROM consultfile
			WHERE consultFileId = #{fileId}
		]]>
	</select>
	
	<update id="updateConsult" parameterType="com.mpc.consult.model.ConsultModel">
		<![CDATA[
			UPDATE CONSULT
			SET
				menuId=#{menuId}, consultRegDate=#{consultRegDate}, petNo=${
				consultTitle=#{consultTitle}, consultContent=#{consultContent}, 
				consultRegDate=SYSDATE
			WHERE consultingId=#{consultingId}
		]]>
	</update>
	
	<update id="updateFileData" parameterType="com.mpc.consult.model.ConsultUploadFileModel">
		<![CDATA[
			UPDATE CONSULTFILE
			SET
				fileName=#{fileName}, fileSize=#{fileSize},
				fileType=${fileType}, fileData=#{fileData}
			WHERE fileId=#{fileId}
		]]>
	</update>
	
	<delete id="deleteConsultByConsultId" parameterType="int">
		<![CDATA[
			DELETE FROM CONSULT
			WHERE consultingId=#{consultingId}
		]]>
	</delete>
	
	<select id="searchConsultByContentKeyword" parameterType="hashmap" resultType="com.mpc.consult.model.ConsultModel">
		<![CDATA[
			SELECT
				consultingId,
				userNo,
				petNo,
				menuId,
				consultRegDate,
				consultTitle,
				consultContent,
				consultClass,
				consultReport
			FROM (
				SELECT
					consultingId, userNo, petNo, menuId, consultRegDate, consultTitle,
					consultContent, consultClass, consultReport, rownum AS crnum
				FROM (
					SELECT * FROM consult
					WHERE consultTitle LIKE #{keyword} OR consultContent LIKE #{keyword}
					ORDER BY consultingId DESC, consultRegDate
					)
				)
			WHERE crnum BETWEEN #{start} AND #{end}
		]]>
	</select>
	
	<select id="selectTotalConsultCountByKeyword" parameterType="string" resultType="int">
		<![CDATA[
			SELECT COUNT(*)
			FROM consult
			WHERE consultTitle LIKE #{keyword} OR consultContent LIKE #{keyword}
		]]>
	</select>
	
	<insert id="replyConsult" parameterType="com.mpc.consult.model.ConsultAnswerModel">
		<![CDATA[
			INSERT INTO
			CONSULTANSWER
				(commentId, consultingId, userNo, commentContent, commentDate, commentLike, commentReport)
			VALUES
				(commentId_seq.nextVal, #{consultingId}, #{userNo}, #{commentContent}, SYSDATE, 0, 0)
		]]>
	</insert>

	<delete id="deleteConsult" parameterType="com.mpc.consult.model.ConsultAnswerModel">
		<![CDATA[
			DELETE FROM consultanswer
			WHERE commentId=#{commentId}
		]]>
	</delete>

	<select id="getName" parameterType="int" resultType="String">
		<![CDATA[
			SELECT userName
			FROM mpc_user
			WHERE userNo=#{userNo}
		]]>
	</select>
	
	
	
	<select id="countLikes" parameterType="map" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM LIKED WHERE userNo=#{userNo} AND commentId=#{commentId}
		]]>
	</select>
	
	<select id="selectLikes" parameterType="int" resultType="int">
		<![CDATA[
			SELECT commentlike FROM CONSULTANSWER WHERE commentId=#{commentId}
		]]>
	</select>
	
	<update id="undoLike" parameterType="int">
		<![CDATA[
			UPDATE consultAnswer set commentLike = commentLike-1 WHERE commentId=#{commentId}
		]]>
	</update>
	
	<delete id="deleteLike" parameterType="map">
		<![CDATA[
			DELETE FROM LIKED WHERE userNo = #{userNo} AND commentId = #{commentId}
		]]>
	</delete>
	
	<update id="doLike" parameterType="int">
		<![CDATA[
			UPDATE consultAnswer set commentLike = commentLike+1 WHERE commentId=#{commentId}
		]]>
	</update>
	
	<insert id="insertLike" parameterType="map">
		<![CDATA[
			INSERT INTO LIKED (likeId, userNo, commentId) VALUES (likeId_seq.nextVal, #{userNo}, #{commentId})
		]]>
	</insert>
	
	<select id="getHospitalName" parameterType="int">
		<![CDATA[
			SELECT HOSPITALNAME
			FROM HOSPITAL
			WHERE HOSPITALID IN (select HOSPITALID FROM CERTIFICATE WHERE userNo = ${userNo}
		]]>
	</select>
	
	<select id="myCommentList" parameterType="int" resultType="com.mpc.consult.model.ConsultAnswerModel">
		SELECT *
		FROM commentData
		WHERE userNo = #{userNo}
	</select>
	
	<select id="searchListByKeyword" parameterType="string" resultType="com.mpc.consult.model.ConsultModel">
      <![CDATA[
         SELECT *
         FROM consult a
         FULL OUTER JOIN pet b
         ON a.petNo = b.petNo
         WHERE
            consultClass=#{keyword1}
            OR petSpecies=#{keyword2}
         ORDER BY consultRegDate
         ]]>
   </select>
	
	<select id="selectFollow" parameterType="map" resultType="int">
		<![CDATA[
			SELECT COUNT(*) 
			FROM FOLLOW
			WHERE followerId=#{follower} and followeeId=#{followee}
		]]>
	</select>
	
	<insert id="insertFollow" parameterType="map">
		<![CDATA[
			INSERT INTO FOLLOW
			(followId, followerId, followeeId)
			VALUES
			(followId_seq.nextVal, #{follower}, #{followee})
		]]>
	</insert>
	
	<delete id="deleteFollow" parameterType="map">
		<![CDATA[
			DELETE FROM FOLLOW WHERE followerId=#{follower} and followeeId=#{followee}
		]]>
	</delete>
	
</mapper>