<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mpc.user.dao.UserRepository">

	<insert id="insertMember" parameterType="com.mpc.user.model.UserModel">
	<![CDATA[
		INSERT INTO 
			mpc_user (userId, UserName, userPw, userphone) 
		VALUES 
			(#{userId}, #{UserName}, #{userPw}, #{userphone})
	]]>
	</insert>

	<select id="selectUserModel" parameterType="string" resultType="com.mpc.user.model.UserModel">
	<![CDATA[
		SELECT 
			userId,
			UserName,
			userPw,
			userphone
			 
		FROM 
			mpc_user 
		WHERE userId=#{userId}
	]]>
	</select>
	
	<select id="selectAllUserModel" resultType="com.mpc.user.model.UserModel">
	<![CDATA[
		SELECT 
			userId, UserName, userPw, userphone, useraddress 
		FROM
			mpc_user 
	]]>
	</select>
	
	<update id="updateUserModel" parameterType="com.mpc.user.model.UserModel">
	<![CDATA[
		UPDATE mpc_user
		SET 
			UserName=#{UserName}, userPw=#{userPw}, userphone=#{userphone} 
		WHERE 
			userId=#{userId}
	]]>
	</update>
	
	<delete id="deleteUserModel" parameterType="com.mpc.user.model.UserModel">
	<![CDATA[
		DELETE FROM
			mpc_user 
		WHERE
			userId=#{userId} AND userPw=#{userPw}
	]]>
	</delete>
	
	<select id="getPassword" parameterType="string" resultType="string">
	<![CDATA[
		SELECT
			userPw
		FROM
			mpc_user
		WHERE userId=#{userId}
	]]>
	</select>
	
</mapper>