<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mpc.user.dao.PetRepository">

	<!-- 펫 정보등록  -->
 	 <insert id="petInsert" parameterType="com.mpc.user.model.PetModel">
	<![CDATA[      
	INSERT INTO 
				pet(petNo
				,userNo
				,petName
				,petFamilyDate 
				,petSpecies
				,petSex
				,petNeut
				,petCharacter)
				
		VALUES(pet_seq.NEXTVAL
			  ,42
			  ,#{petName}
			  ,#{petFamilyDate}
			  ,#{petSpecies}
			  ,#{petSex}
			  ,#{petNeut}
			  ,#{petCharacter})
		 ]]>
	</insert>  
</mapper>





